:root{
	--background: #fefefe;
	
--dark-color: #222;
	
--bright-color: #4fc3f7;
	
--menu-color: #999;
	
--menu-color-hover: #ddd;
	
	
--menu-item-margin: .1em;
}

*{
box-sizing:border-box;
}
body, 
html{
	margin: 0;
	padding: 0;
	
font-family: arial, verdana, sans-serif;

}


.block{
	width: 100%;
	
background: var(--background);
	
display: flex;
	
flex-wrap: 
wrap;
}

.block2{
	
width: 100%;
	
background: var(--background);
}

.block3{width: 100%;
	
background: var(--background);
	
width: 300px;
  
padding: 20px;
  
border: .5px solid #fff;
  
color: #3с3с3с;
  
text-align: center;

}

#wrapper{
	
max-width: 1000px;
	
margin: 0 auto; /*один из способов выровнять по горизонтали*/

}

#main_menu{

display: flex;

justify-content:center;
	
padding: 0;
  
margin: 0;
	
	
background: var(--dark-color);
	
border-bottom: var(--bright-color) 6px solid;

}

#main_menu li{
	
display: 
block;

}

#main_menu a{

display: block;
	
padding: 1em;
	
margin: var(--menu-item-margin);
	
cursor: pointer;
	
color: var(--menu-color);
	
text-decoration: none;
	
transition: color .3s;
	
position: relative;

}

#main_menu a.active{
	
color: var(--menu-color-hover);

}

#main_menu a::before{
	
content: "";
	
position: absolute;
	
bottom: calc(-1 * var(--menu-item-margin));
	
left: 45%;

	
border-left: 5px solid transparent;
  
border-right: 5px solid transparent;
  
  
border-bottom: 7px solid var(--bright-color);

opacity: 0;

}

#main_menu a.active::before{

opacity: 1;

}

#main_menu a:hover{

color: var(--menu-color-hover);

}
.
dropdown_menu{
	
position: relative;

}

.dropdown_menu ul{
	
background: var(--dark-color);
	
position: absolute;
	
display: none;
	
padding: 0;
  
margin: 0;

}

.dropdown_menu:hover ul{
	
display: block;

}

.myclass{
   
width: 100%

}

.neobtn-thick .btn {
 
position: absolute;
 
 top: 55%;
  
left: 65%;
  
transform: translate(-50%, -50%);
  
-ms-transform: translate(-50%, -50%);

  background-color: #555;

  color: white;
  
font-size: 24px;
  
padding: 12px 24px;
  
border: none;
  
cursor: pointer;
  
border-radius: 5px;

}

  
 body {
   
 background-image: url(image/Nature.jpg); /* Путь к фоновому изображению */
    background-color: #4c4c4c; /* Цвет фона */
   
}
   
.box {
 
 background: url(image/Nature.jpg);
 
 display: flex;
 
 align-items: left;
 
 justify-content: left;

}
	
.box2 {
  
background: url(image/pen.jpg);
  
display: flex;
 
 align-items: center;

  justify-content: center;

}

.box3 {
 
 background: url(image/tuning.png);
  
display: flex;
  
align-items: right;
  
justify-content: right;
}

.box4 {
  
text-align: center;

}

.panel {
 
width: 300px;
 
 padding: 20px;
  
border: .5px solid #fff;
  
color: #3с3с3с;
  
text-align: center;


}

.title {
	
position: absolute; 
	
bottom: 0; 
	
left: 0; 
	
right: 0; 
	
background: #77777777;
	
padding: 1em;
}

.title2 {
	
position: relative; 
	
bottom: 0; 
	
left: 0; 
	
right: 0; 
	
padding: 1em;

}

  
.myclass2{
   
width: 23%;
   
display: block;
   
margin : auto;
  
}
 
.wrapper1 {
	
text-align: center;
			
background-color: #DCDCDC;
	  
color: #000000;
	   

		
}
 
.wrapper2 {
			
text-align: center;
			
background-color: #DCDCDC;
	   
color: #A9A9A9;
	 
	  
		
}
		
 .wrapper3 {
	
display: flex;
			
background-color: #FFFFFF;
			
margin: 5 .9em;
		
width: 400px;
           
padding: 15px;
	
	
}

.image{
  
width: 400px;
  
padding: 30px;
  
margin: 0 .5em;

}
 

.wrapper4{
	
background : #00BFFF;
	
text-align: center;
	
color: white;

}
